.gradient-background {
  background: linear-gradient(300deg, #b2b7b9, #494647, #6e6d6c);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body{
  background-color: #000000;
}
hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}
.hype{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dp{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.skills{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
.im{
  height: 300px;
  width: 300px;
  margin-right: 10px;
}
.head{
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact-me{
  text-align: center;
}
.btn{
  background-color: #6e6d6c;
  margin: 20px;
  align-items: center;
}
h2,h3,p{
  color: aliceblue;
}
footer .nav-link {
    color: white !important;
  }
  footer .nav-link:hover {
    color: #cccccc !important; /* optional hover color */
  }